<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
  </head>
  <body>
    <h1>Welcome, {{ username }}!</h1>

    {% if current_user %}
    <a href="/posts/new">Write a new post</a>
    <form method="post" action="/logout">
      <button typ="submit">Log out</button>
    </form>
    {% else %}
    <a href="/register">Register</a> | <a href="/login">Log in</a>
    {% endif %}

    <hr />

    {% for post in posts %}
    <article>
      <h2><a href="/posts/{{ post.id }}">{{ post.title }}</a></h2>
      <p>by {{ post.author.username }} in {{ post.category.name }}</p>
    </article>
    {% else %}
    <p>No posts yet.</p>
    {% endfor %}
  </body>
</html>
